<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dangoo Portfolio</title>
    <link rel="stylesheet" href="port.css">
</head>

<body>
    <section class="first-section md-col-6">
        <div class="app">
            <div class="content">

                <h1>Kennedy Wanakacha</h1>
                <p>React|Node js|Vue js|Express js| Laravel</p>
                <img src="https://scontent.fnbo17-1.fna.fbcdn.net/v/t39.30808-6/366315852_1447097292747300_4808418758204157126_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=2pk7fUHC8pYAX8Qjsqa&_nc_ht=scontent.fnbo17-1.fna&cb_e2o_trans=q&oh=00_AfCBBuZ2JeJDwESh5BKeWnXtD2dUBeIUEm6SPCH0ruFCow&oe=6563C999"
                    alt="Profile Image" class="profile-image">
            </div>
        </div>

    </section>
    <section class="all">
        <section class="one  card-section">

            <h2>Languages</h2>
            <p>Javascript</p>
            <p>C++</p>
            <p>C</p>
            <p>Python</p>
            <p>Visual Basic</p>
        </section>

        <section class="sec  card-s">

            <h2>Frameworks</h2>
            <p>React</p>
            <p>Vue</p>
            <p>Node.js</p>
            <p>Laravel</p>
            <p>Express js</p>
        </section>

        <section class="thir  card-section">
            <h2>SQLs</h2>
            <p>MySQL</p>
            <p>Mongodb</p>
            <p>PostgreSql</p>
        </section>
        <section class="last  card-sect">
            <h1>Top Projects</h1>
            <h2>Dangoo Rentals</h2>
            <p>It is a rental system which uses React for the Frontend and Node js for the backend as technologies.
                <br>It links tenants with landlords as it offers a wide variety of houses one has to choose from
            </p>
            <a href="https://dangoorentalsystem.vercel.app/">https://dangoorentalsystem.vercel.app/</a>

        </section>
        <section class="for card-secto">
            <h1>Top Projects</h1>
            <h2>Weather App</h2>
            <p>A weather App which has been built using Vue js which gives the exact weather of a particular place
                worldwide.</p>
            <a href="https://dangoo-weather-app.vercel.app/">https://dangoo-weather-app.vercel.app/</a>


        </section>
        <section class="fii card-sector">
            <h1>Top Projects</h1>
            <h2>Banking System</h2>
            <p>It is a banking system built in Visual Basic which offers a variety of administrator functions of an
                ideal banking system.</p>



        </section>
    </section>
    <section class="last-last card-sec">
        <h2>Contact Information</h2>
        <P>Email:kennydangote893@gmail.com</P>
        <p>Phone: +254-757-4486-51</p>
        <h2 class="left">Social Media</h2>
        <ul class="ul">
            <li><a href="https://www.linkedin.com/in/kennedy-wanakacha-b2969a276?trk=contact-info">Linkedln</a></li>
            <li><a href="https://github.com/Dangoo2002">Github</a></li>
        </ul>
    </section>
</body>

</html>